@import 'var.sass'
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800')

=transition($property)
	-webkit-transition: $property
	-moz-transition: $property
	-o-transition: $property
	transition: $property

=animation($property)
	-webkit-animation: $property
	-moz-animation: $property
	-o-animation: $property
	animation: $property

=transform($property)
	-webkit-transform: $property
	-moz-transform: $property
	-o-transform: $property
	transform: $property

$shadow-spread: 0.5rem
.r-white
	filter: drop-shadow(0 0 $shadow-spread rgba($r-white, 1))
.r-lightblue
	filter: drop-shadow(0 0 $shadow-spread rgba($r-lightblue, 1))
.r-blue
	filter: drop-shadow(0 0 $shadow-spread rgba($r-blue, 1))
.r-purple
	filter: drop-shadow(0 0 $shadow-spread rgba($r-purple, 1))
.r-pink
	filter: drop-shadow(0 0 $shadow-spread rgba($r-pink, 1))
.r-red
	filter: drop-shadow(0 0 $shadow-spread rgba($r-red, 1))
.r-knife
	filter: drop-shadow(0 0 $shadow-spread rgba($r-knife, 1))

.cf-red
	border-color: $cf-red !important
.cf-orange
	border-color: $cf-orange !important
.cf-pink
	border-color: $cf-pink !important
.cf-green
	border-color: $cf-green !important
.cf-gold
	border-color: $cf-gold !important

.blur
	filter: drop-shadow(0 0 0.8rem rgba($c-orange, 0.7))

@import '_chartist-settings.scss'
$ct-text-color: $c-white
$ct-text-size: 1.2rem
$ct-grid-color: rgba($c-white, 0.4)
@import 'chartist.scss'
@import 'reset.scss'
@import 'skins.sass'
@import 'main.sass'
@import 'chat.sass'


// @media only screen and (min-width: 1023px)
// 	html
// 	    font-size: .54vw

.preload *
	+transition(none !important)

a
	color: $c-white

html
	font-size: .54vw
	height: 100%
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box

body
	font-family: 'Open Sans', sans-serif
	font-weight: 600
	color: $c-white
	background-color: $c-main
	width: 100%
	height: 100%
	position: absolute
	overflow: hidden
	top: 0
	left: 0
	right: 0
	bottom: 0
	max-height: 100vh
	// -moz-user-select: none
	// -webkit-user-select: none
	// user-select: none

.wrapper
	height: 100%
	width: 100%
	overflow: hidden
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: $header-height 1fr

header
	background-color: $c-main
	height: 8rem
	font-size: 1.35rem
	display: grid
	grid-template-columns: $left-width 1fr $right-width
	.header-logo
		height: 100%
		white-space: nowrap
		display: flex
		justify-content: space-around
		align-items: center
		width: $left-width
		background-color: $c-sec
		padding: 0 2rem
		.logo
			display: block
			margin: 0 auto
			.logo-img
				height: 2.5rem
				width: 20rem
				display: block
		.logo-elems
			display: flex
		.logo-elem
			cursor: pointer
			background-color: $c-main
			border-radius: 0.75rem
			padding: 1rem
			text-align: center
			margin-left: 1rem
			&:hover
				background-color: $c-sec-hover
			.logo-icon
				top: -0.2rem
				position: relative
	nav
		display: flex
		justify-content: space-evenly
		width: 50rem
		.active
			border-bottom-color: $c-orange
		.nav-item
			display: flex
			align-items: center
			white-space: nowrap
			color: $c-white
			border-bottom: 0.4rem solid transparent
			border-top: 0.4rem solid transparent
			cursor: pointer
			&:hover
				border-bottom-color: $c-orange
			.nav-icon
				padding: 0.2rem
	.header-main
		display: flex
		padding: 0 1rem
		height: 100%
		width: 100%
	.header-soc
		margin-left: auto
		margin-right: 2rem
		display: flex
		text-align: center
		align-items: center
		.header-soc-item
			font-size: 2rem
			color: $c-white
			border-radius: 1rem
			margin: 0 0.5rem
			display: block
			background-color: $c-sec
			padding: 1rem
			&:hover
				background-color: $c-sec-hover
		.header-soc-online
			margin-left: 1rem
			font-size: 1.2rem
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-evenly
			.online-number
				display: flex
				align-items: center
				flex-direction: row
				justify-content: center
				margin-bottom: 0.2rem
				color: $c-orange
				.online-circle
					font-size: 0.8rem
					position: relative
					margin-right: 0.2rem
					+animation(blink 800ms alternate infinite)
		.fab
			position: relative
			top: 0.05rem
	.header-right
		display: flex
		align-items: center
		justify-content: center
		.header-right-image
			border-radius: 1rem
			width: 4rem
			height: 4rem
			margin-right: 1rem
		.header-right-nameblock
			font-size: 1.2rem
			margin: 0 1rem
			display: flex
			align-items: flex-end
			justify-content: center
			flex-direction: column
			.header-right-money
				color: $c-orange
				margin-top: 0.3rem
			.header-right-name
				overflow: hidden
				text-overflow: ellipsis
				max-width: 15rem
		.header-right-button
			font-size: 1.2rem
			font-weight: 700
			padding: 1.25rem
		.header-right-icon
			font-size: 2.5rem

.steam-button
	font-weight: 700
	font-size: 1.5rem
	color: white
	display: flex
	align-items: center
	background-color: $c-green
	border-radius: 0.5rem
	padding: 1rem 2rem
	text-align: center
	white-space: nowrap
	&:hover
		background-color: $c-green-hover
	.fa-steam-symbol
		font-size: 3rem
		margin-right: 2rem

main
	width: 100%
	height: 100%
	display: grid
	grid-template-columns: $left-width 1fr $right-width
	overflow: hidden

.left
	margin-top: 2rem
	width: $left-width
	display: flex
	flex-direction: column
	overflow: hidden

.draw
	display: grid
	grid-template-rows: 4rem 1fr 5rem
	width: 100%
	background-color: $c-sec
	border-radius: 0 $border-radius 0 0
	padding: 2rem
	.draw-header
		display: flex
		justify-content: space-evenly
		align-items: center
		margin-bottom: 1rem
		.draw-header-text
			font-size: 1.5rem
			font-weight: 700
			margin: 0 1rem
		.draw-header-time
			color: $c-orange
			font-size: 2rem
			//margin-left: auto
		.draw-header-icon
			font-size: 2.5rem
	.draw-body
		display: flex
		justify-content: space-evenly
		height: 17rem
		.draw-body-image
			height: 17rem
		.draw-body-r
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			.draw-body-text
				font-size: 1.5rem
			.draw-body-stext
				font-size: 1.25rem
				color: $c-orange
				margin-top: 0.5rem
				text-align: center
			.draw-body-ttext
				font-size: 1.25rem
				color: $c-orange
				margin-top: 0.25rem
				text-align: center
			.draw-body-button
				margin-top: 2rem
				padding: 2rem
				font-size: 1.5rem
				font-weight: 700
	.draw-count
		border-radius: 0.5rem
		background-color: $c-main
		display: flex
		align-items: center
		justify-content: space-between
		padding: 1.5rem
		font-size: 1.5rem
		width: 35rem
		margin: 0 auto



.content
	padding: 2rem
	overflow: hidden


.notify
	font-size: 1.5rem
	border-radius: 0.3rem
	color: white
	padding: 1rem
.notify-success
	background-color: $c-green
.notify-error
	background-color: $c-red

//PAGE 404
.e404
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	width: 100%
	height: 100%
	text-align: center
	.e404-icon
		font-size: 10rem
	.e404-text
		font-size: 3rem
		margin-top: 3rem


//SUPPORT
.hidden
	display: none !important
.button
	cursor: pointer
	border-radius: 1rem
	background-color: $c-orange
	padding: 1rem
	&:hover
		background-color: $c-orange-hover
		color: white
.tooltip
	position: absolute
	padding: 1rem
	justify-content: center
	align-items: center
	z-index: 99999
	border-radius: 0.5rem
	background-color: $c-sec
	display: none
	width: min-content
	bottom: -3rem
	filter: drop-shadow(0 0 0.8rem rgba($c-orange, 0.7))

*
	-webkit-transition: background-color .3s, color .3s, border-color .3s
	-moz-transition: background-color .3s, color .3s, border-color .3s
	-o-transition: background-color .3s, color .3s, border-color .3s
	transition: background-color .3s, color .3s, border-color .3s

@keyframes blink
	from
		opacity: 1
	to
		opacity: 0